<h2 class="screen-align">Homedatacreate</h2>
<div id="template-ieyd" class="gjs-row">
    <div id="template-iqzf" class="gjs-cell">
        <label id="template-ivft" class="label ">
            <div id="template-i9em" class="">name</div>
        </label>
        <input id="template-i5w4" [(ngModel)]="homedata.name" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
        <button id="template-iarzk" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-i7u7c" class="">Create</div>
        </button>
    </div>
    <div id="template-ip45" class="gjs-cell">
        <label id="template-ipff" class="label ">
            <div id="template-ig83" class="">value</div>
            <br id="template-i0mg" class="">
        </label>
        <input id="template-i3j6i" [(ngModel)]="homedata.value" [ngModelOptions]="{standalone: true}"
        class="input form-control " />
    </div>
</div>